*{margin:0px;padding:0px;}

body{font-size:13px;color:#333;}

a,a:visited,a:hover,a:active{color:blue;}
h1,h2,h3,h4,h5,h6{color:#666;}

pre{margin:10px 0px;padding:5px;border:1px #ccc solid;background-color:#eee;}
blockquote{padding:0px 10px;border-left:4px #ccc solid;background-color:#eee;}

ul{margin-left:18px;}
ul li{margin-bottom:10px;list-style-type: disc;}


#navigation{position:fixed;top:0px;left:0px;bottom:0px;width:180px;background-color:#eee;text-align:center;}
#navigation h1{margin-top:20px;font-weight:bold;font-size:14px;}
#navigation p{margin:10px 0px;}
.build{padding-top:5px;border-top:1px #ccc solid;}

#main{margin:20px 10px 30px 200px;}
#main p{line-height:25px;}


section{}
section h2{margin-bottom:5px;margin-left:18px;font-weight: bold;}
section ul{}
section ul li{margin-bottom:5px;}

article{}
article h2{padding-bottom:5px;font-weight:bold;border-bottom:1px #ccc solid;}
.publish-time{margin:10px 0px;}
